<html>

  <head>
    <title>Email confirmation</title>
  </head>

  <body>
    <div>
      Hi, <%= @user.name %>,

      we want to inform you that your post titled <%= @post.title %>, with author name <%= @post.author %> at DataRockets has been successfully created.

      Best,
      DataRockets
    </div>
  </body>

</html>
