<h1>Datarockets</h1>
<p> First, please <a href="/users/new">create a user</a> to receive emails from our app and then come back.</p>
<p>Next, please go to the <a href="/posts">/posts</a> for the technical task implementation.</p>
<p>To view the history log, please go to <a href="/history">/history</a>.
